{% extends 'base.html.twig' %}

{% block title %}My payment test{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href = "{{ path('start_payment') }}">
                Start banklink payment
            </a>
        </li>
        <li>
            <a href = "{{ path('start_card_payment') }}">
                Start card payment
            </a>
        </li>
    </ul>
{% endblock %}
